
  <div class="edit-box">
    <% if @book.errors.any? %>
      <div class="alert alert-warning">
        <p><%= @book.errors.count %>件のerrorが発生しました</p>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h1>Editing Book</h1>
    <div>
      <%= form_for (@book) do |f| %>
        <p>Title</p>
        <%= f.text_field :title, value: @book.title %>
        <p>Opinion</p>
        <%= f.text_area :body, value: @book.body %>
        <%= f.submit "Update Book" %>
      <% end %>
      <div>
        <%= link_to "Show", book_path(@book.id) %>
      </div>
      <div>
        <%= link_to "Back", books_path %>
      </div>
    </div>
  </div>
