<!-- 本の詳細ページ -->
<div class="content-box row">
  <%= render partial: 'users/list', locals: {user: @users, book: @book} %>

  <div class="book-box col-md-8 table-responsive">
    <h1>Book detail</h1>
    <table class="table">
      <tr>
        <th>
          <%= attachment_image_tag @users, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %>
        </th>
        <th>
          <%= @books.title %>
        </th>
        <th>
          <%= @books.body %>
        </th>
        <% if @books.user_id == current_user.id %>
        <th>
          <%= link_to "edit", edit_book_path(@books) %>
        </th>
        <th>
          <%= link_to "Destroy", book_path(@books.id), method: :delete, data: { confirm: "本当に削除しますか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } %>
        </th>
        <% end %>
      </tr>
    </table>
      <%= link_to @users.name, user_path(@users) %>
  </div>
</div>
